# 1 rename this file to prod.env and fill in the values
# 2 add file to gitignore
# service configuration
TEST_USERNAME=your_username_here
TEST_PASSWORD=your_password_here
URL=https://fe-delivery.tallinn-learning.ee
